<!DOCTYPE html>
<html ng-app="kanbanBoardApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project A.I.M</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/angular-gridster.min.css" rel="stylesheet" />
    <link href="~/Content/angular-ui-tree.css" rel="stylesheet" />
    <link href="~/Content/angular-object-diff.css" rel="stylesheet" />
</head>
<body>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project A.I.M", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Project Management", "Index", new { Area = "Project", controller = "Board" })</li>
                    <li>@Html.ActionLink("Configuration", "Index", new { Area = "Configuration", controller = "Config" })</li>
                    <li>@Html.ActionLink("Calculation", "Index", new { Area = "Calculation", controller = "Calculation" })</li>
                    @*<li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @RenderBody()

    <hr />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//npmcdn.com/api-check@latest/dist/api-check.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="//npmcdn.com/angular-formly@latest/dist/formly.js"></script>
    <script src="//npmcdn.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-ui/sortable.js"></script>
    
    <script src="~/AppScript/main.js"></script>
    <script src="~/Areas/Project/Scripts/kanbanBoardDragDrop.js"></script>
    <script src="~/Areas/Project/Scripts/boardService.js"></script>
    <script src="~/Areas/Project/Scripts/boardCtrl.js"></script>
    <script src="~/Areas/Project/Scripts/menuCtrl.js"></script>
    <script src="~/Areas/Project/Scripts/storyCtrl.js"></script>

    <script src="~/Areas/Configuration/Scripts/Group/groupCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Logic/logicCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Config/configCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Config/configService.js"></script>
    <script src="~/Areas/Configuration/Scripts/Config/configMenuCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Array Functions/arrayFunctionsCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Date Part/datePartCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Date Adjustment/dateAdjustmentCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Period/periodCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Factors/factorsCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/History/historyCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Regression/regressionCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Regression/regressionInputCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Regression/regressionDifferenceCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Regression/regressionOutputCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Custom Validations/CustomValidations.js"></script>
    <script src="~/Areas/Configuration/Scripts/Maths/mathsCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Maths Functions/mathsFunctionsCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Input/inputCtrl.js"></script>
    <script src="~/Areas/Configuration/Scripts/Config/Factories/configFunctionFactory.js"></script>
    <script src="~/Areas/Configuration/Scripts/Config/Factories/configModalFactory.js"></script>
    <script src="~/Areas/Configuration/Scripts/Config/Factories/configRowSelectFactory.js"></script>
    <script src="~/Areas/Configuration/Scripts/Config/Factories/configValidationFactory.js"></script>

    <script src="~/Areas/Calculation/Scripts/calculationCtrl.js"></script>
    <script src="~/Areas/Calculation/Scripts/calculationService.js"></script>
    <script src="~/Areas/Calculation/Scripts/calculationMenuCtrl.js"></script>
    
    <script src="~/Scripts/angular-gridster.min.js"></script> 
    <script src="~/Scripts/angular-drag-and-drop-lists.js"></script>
    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/ios-drag-drop.js"></script>
    <script src="~/Scripts/angular-long-press.js"></script>
    <script src="~/Scripts/angular-ui-tree.js"></script>
    <script src="~/Scripts/anguladynamicform.js"></script>
    <script src="~/Scripts/angular-object-diff.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/ng-csv.js"></script>
    <script src="~/Scripts/angular-csv-import.js"></script>

</body>

</html>
