@model CalculationCSharp.Models.CalculationRegression

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CalculationRegression</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scheme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalRunDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalRunDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestRunDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestRunDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Input)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Input)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutputOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutputOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutputNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutputNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
