@model IEnumerable<CalculationCSharp.Models.CalculationRegression>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculation Regression</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Scheme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalRunDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestRunDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Input)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputOld)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputNew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Scheme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalRunDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestRunDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>
        <td>    
            @Html.ActionLink("Input", "ViewXML", null, new { id = item.Id }, new { @class = "btn btn-default modal-link", title = "Check Input" })
        </td>
        <td>
            @Html.ActionLink("OutputOld", "ViewXML", null, new { id = item.Id }, new { @class = "btn btn-default modal-link", title = "Check OutputOld" })
        </td>
        <td>
            @Html.ActionLink("OutputNew", "ViewXML", null, new { id = item.Id }, new { @class = "btn btn-default modal-link", title = "Check OutputNew" })
        </td>
        <td>
            @Html.ActionLink("Difference", "ViewXML", null, new { id = item.Id }, new { @class = "btn btn-default modal-link", title = "Check Difference" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div id="modal-container" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>