@model IEnumerable<CalculationCSharp.Models.Calculation.OutputList>

@{
    ViewBag.Title = "Output";
    Scripts.Render("~/Scripts/jquery-2.1.4.js");
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="jumbotron">
    <br> <h1>Calculation Output</h1> <br />
</div>

<table id="companyGrid" class="table table-bordered table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Field)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
    </tr>
    @{foreach (var group in Model.GroupBy(x => x.Group))
        {
        <tr class="group-header">
            <td colspan="7">
                <span class="h4">@group.Key</span>
            </td>
        </tr>
            foreach (var item in group)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Field)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
                }
            }
        }
</table>
<p>
    <button id="expandHeader" class="btn btn-primary" onclick="$('.group-header').fadeIn();">Expand Headers</button>
    <button id="collapseHeader" class="btn btn-primary" onclick="$('.group-header').fadeOut();">Collapse Headers</button>
    <button id="expandAll" class="btn btn-primary" onclick="$('#companyGrid tr:not(.group-header, .group-footer)').fadeIn();">Expand All Data</button>
    <button id="collapseAll" class="btn btn-primary" onclick="$('#companyGrid tr:not(:first, .group-header, .group-footer)').fadeOut();">Collapse All Data</button>
    <button id="expandAll" class="btn btn-primary" onclick="$('#companyGrid tr').fadeIn();">Expand All</button>
    <button id="collapseAll" class="btn btn-primary" onclick="$('#companyGrid tr').fadeOut();">Collapse All</button>
    <button id="expandFooter" class="btn btn-primary" onclick="$('.group-footer').fadeIn();">Expand Footers</button>
    <button id="collapseFooter" class="btn btn-primary" onclick="$('.group-footer').fadeOut();">Collapse Footers</button>
</p>

<script src="~/Scripts/jquery-2.1.4.js"></script>

<script type="text/javascript">
    $(function () {
        $('.group-header').click(function () {
            $(this).nextUntil('.group-header').toggle();
        });
    });
</script>