@model IEnumerable<CalculationCSharp.Models.CalculationRegression>

@{
    ViewBag.Title = " Calculation Regression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Run All", "RunAll",null,null, new { @class = "btn btn-default", title = "Run All Calcs" })
 <input class="form-control text-box single-line" type="text" id="search" placeholder="Type to search">
<table id="table" class="table table-bordered table table-responsive">
    <tr class="h5">
        <th>
            @Html.DisplayNameFor(model => model.Scheme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalRunDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestRunDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Input)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputOld)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputNew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Scheme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalRunDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestRunDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>
        <td>    
            @Html.ActionLink("Input", "ViewXML", null, new { id = item.Id, type = "Input" }, new { @class = "btn btn-default modal-link", title = "Check Input" })
        </td>
        <td>
            @Html.ActionLink("OutputOld", "ViewXML", null, new { id = item.Id, type = "OutputOld" }, new { @class = "btn btn-default modal-link", title = "Check OutputOld" })
        </td>
        <td>
            @Html.ActionLink("OutputNew", "ViewXML", null, new { id = item.Id, type = "OutputNew" }, new { @class = "btn btn-default modal-link", title = "Check OutputNew" })
        </td>
        <td>
            @if(item.Difference != null)
            {
                @Html.ActionLink("Difference", "ViewXML", null, new { id = item.Id, type = "Difference" }, new { @class = "btn btn-default modal-link", title = "Check Difference" })
            }
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
        <td>
            @Html.ActionLink("Run", "Run", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div id="modal-container" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
