<div id="wrapper" class="active" ng-controller="configCtrl" layout="column" ng-cloak> 
    <form name="form" role="form" ng-submit="CalcButtonClick(form)" novalidate onbeforeunload>
        <fieldset ng-disabled="viewOnly">


            <section layout="column" flex="">

                @Html.Partial("_SideBar")
                    <h2 class="center-block text-center"><a>@ViewData["SchemeName"] - @ViewData["CalcName"]</a></h2>
                    <div class="center-block" ng-include="'/Areas/Project/Scripts/busyModal.html'" ng-show="isLoading"></div>
                          <md-expansion-panel-group md-component-id="panelGroup" multiple>
                            <md-expansion-panel ng-repeat="Category in config"  md-component-id="panel_{{$index}}">

                                <md-expansion-panel-collapsed>
                                    <md-expansion-panel-icon></md-expansion-panel-icon>
                                    <div class="md-title">{{ Category.Name }}</div>
                                    <div class="md-summary">{{ Category.Description }}</div>
                                </md-expansion-panel-collapsed>

                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header>
                                        <md-expansion-panel-icon></md-expansion-panel-icon>
                                        <div class="md-title">{{ Category.Name }}</div>
                                        <div class="md-summary">{{ Category.Description }}</div>
                                    </md-expansion-panel-header>

                                    <md-expansion-panel-content>
                                        @Html.Partial("_BuilderRowsNew")
                                    </md-expansion-panel-content>

                                    <md-expansion-panel-footer >
                                        <div class="md-title pull-left">{{ Category.Name }}</div>

                                        <div class="slide-container " style="width:20%">
                                            <a class="pull-left btn" data-nodrag ng-click="AddCategoryRows($index, $event)">
                                                <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/plus.png"></span>
                                            </a>
                                            <a class="pull-left btn " data-nodrag ng-click="DeleteCategory($index)">
                                                <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/multiply2.png"></span>
                                            </a>
                                            <a class="pull-left btn " data-nodrag ng-click="CopyCategory($index, $event)">
                                                <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/copy.png"></span>
                                            </a>
                                            <a class="pull-left btn " data-nodrag ng-click="CategoryLogicButtonClick($index, $event)">
                                                <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/settings.png"></span>
                                            </a>
                                            <a class="pull-left btn " data-nodrag ng-click="GroupButtonClick($index, $event)">
                                                <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/more.png"></span>
                                            </a>
                                        </div>

                                        <div flex></div>
                                        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
                                    </md-expansion-panel-footer>

                                </md-expansion-panel-expanded>

                            </md-expansion-panel>
                        </md-expansion-panel-group>

                @Html.Partial("_SideBarRight")
            </section> 

          </fieldset>
    </form>
</div>
