<md-content  ng-controller="configCtrl" layout-gt-sm="row" layout="row" 
       ng-cloak> 
    <ng-form name="form" role="form" ng-submit="calcbuttonclick(form)" layout="row" style="width:100%">
        <md-content flex="80" layout-padding="" layout="column" style="padding:0px; border-right: thin solid; border-right-color: #e8e1d6">
            <h3 class="pull-left"><a>@ViewData["SchemeName"] - @ViewData["CalcName"]</a></h3>
            <ul>
                <li ng-repeat="(key, errors) in form.$error track by $index">
                    <strong>{{ key }}</strong> errors
                    <ul>
                        <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>. <a ng-click="focusButtonClick($event, e.$name)">Focus</a></li>
                    </ul>
                </li>
            </ul>
            <div ui-tree >
                <uib-accordion close-others=false ui-tree-nodes="" ng-model="config" data-nodrop-enabled="true">
                    <div uib-accordion-group ng-repeat="Category in config" ng-init="colIndex = $index" is-open="openIndex[$index]" layout="column" context-menu="columnMenuOptions" ui-tree-node>
                        <uib-accordion-heading>                         
                            <div class="slide-container">
                                {{Category.Name}}                              
                            </div>
                            <div class="slide-container pull-right">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
                            </div>
                        </uib-accordion-heading>
                        @Html.Partial("_BuilderRowsNew")
                    </div>
                </uib-accordion>
            </div>
            @Html.Partial("_FABButton")
        </md-content>    
        @Html.Partial("_SideBarRight")   
    </ng-form>
</md-content>
